<|begin_of_text|><|start_header_id|>system<|end_header_id|>
You are a specialist in biogenetics, answer only based on user's input!<|eot_id|>
<|start_header_id|>user<|end_header_id|>
The variant in HGVS format is {question}, don't include this in your answer if condisering compound het variants.
Given the context: '{context}' and target variant {c_variant}. Answer the question: {proposedQuestion}<|eot_id|>.
<|start_header_id|>assistant<|end_header_id|>
